/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}

.footer {
    font-size: 1.5rem;
    line-height: 2rem;
    font-family: Roboto;
    font-weight: 400;
    background-color: #442359;
    padding-top: 2rem;
    color: #fff;
    width: 100%;
    height: auto;
    position: relative;
}   



/*index*/
.style-svg {
    fill: #442359;
    height: 75px;
    text-align: center;
}

.n-item {
    margin-bottom: 3rem;
}

#conf-info {
    background-image: url("../images/bckg_full_width_2cip.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    /*-webkit-background-size: cover;*/
    background-size: cover;
    color: #fff;
    padding-bottom: 7.5rem;
    padding-top: 7.5rem;
    height: 20rem;
}


#register {
    background-image: url("../images/bckg_full_width_3crop.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    /*-webkit-background-size: cover;*/
    background-size: cover;
    color: #fff;
    padding-bottom: 7.5rem;
    padding-top: 7.5rem;
}

section {
    padding-bottom: 4.5rem;
    padding-top: 2.5rem;
}

h3.special {
    font-family: Roboto;
    font-weight: 400;
    line-height: 1.1;
    letter-spacing: 0em;
    color: #6ec2e9;
    word-wrap: break-word;
    font-size: 3.5rem;
    
}

.content {
    min-height: calc(60vh - 7rem);
}

.footer {
    bottom: 0;
}

ul.socials-nav {
    text-align: center;
}

    ul.socials-nav > li {
        display: inline-block;
        margin-right: 2rem;
    }

li.social a {
    font-size: 4rem;
}
