@model IEnumerable<Conference.Domain.Entities.Speakers>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="">
    <div class="container">
        <div class="row parent">            
          
            <div class="col-sm-12 col-lg-3 child" style="background-image:url(https://dndays.blob.core.windows.net/img/77/b&amp;w.png)">

                <div class="details">
                    <a class="link" href="/speakers/irina-scurtu">
                        <span class="name">Irina Scurtu</span>
                        <span class="position">Software Architect</span>
                        <span class="position">Fortech</span>

                    </a>
                    <ul class="speaker-socials">
                        <li>
                            <a target="_blank" class="link d-inline" href="https://twitter.com/irina_scurtu">
                                <i class="fab fa-twitter"></i>
                            </a>
                        </li>

                        <li>
                            <a target="_blank" class="link d-inline" href="https://www.linkedin.com/in/irinascurtu/">
                                <i class="fab fa-linkedin"></i>
                            </a>
                        </li>
                    </ul>


                </div>


            </div>
            <div class="col-sm-12 col-lg-3 child" style="background-image:url(https://dndays.blob.core.windows.net/img/78/victor-chircu-e1544087591783@2x.png)">

                <div class="details">
                    <a class="link" href="/speakers/victor-chircu">
                        <span class="name">Victor Chircu</span>
                        <span class="position">Software Architect</span>
                        <span class="position">Endava</span>

                    </a>
                    <ul class="speaker-socials">
                        <li>
                            <a target="_blank" class="link d-inline" href="https://twitter.com/victorchircu">
                                <i class="fab fa-twitter"></i>
                            </a>
                        </li>
                        <li>
                            <a target="_blank" class="link d-inline" href="http://www.simpleorientedarchitecture.com/">
                                <i class="fas fa-link"></i>
                            </a>
                        </li>

                        <li>
                            <a target="_blank" class="link d-inline" href="https://www.linkedin.com/in/victor-chircu-1519a331/">
                                <i class="fab fa-linkedin"></i>
                            </a>
                        </li>
                    </ul>


                </div>


            </div>
            <div class="col-sm-12 col-lg-3 child" style="background-image:url(https://dndays.blob.core.windows.net/img/79/codrin.png)">

                <div class="details">
                    <a class="link" href="/speakers/codrin-baleanu">
                        <span class="name">Codrin Baleanu</span>
                        <span class="position">Solutions Architect, Mentor</span>
                        <span class="position">Levi9</span>

                    </a>
                    <ul class="speaker-socials">

                        <li>
                            <a target="_blank" class="link d-inline" href="https://www.linkedin.com/in/codrin-baleanu-16894295/">
                                <i class="fab fa-linkedin"></i>
                            </a>
                        </li>
                    </ul>


                </div>


            </div>
            <div class="col-sm-12 col-lg-3 child" style="background-image:url(https://dndays.blob.core.windows.net/img/80/iscu.png)">

                <div class="details">
                    <a class="link" href="/speakers/radu-iscu">
                        <span class="name">Radu Iscu</span>
                        <span class="position">Solutions Architect</span>
                        <span class="position">Levi9</span>

                    </a>
                    <ul class="speaker-socials">

                        <li>
                            <a target="_blank" class="link d-inline" href="https://www.linkedin.com/in/radu-iscu-5599617/">
                                <i class="fab fa-linkedin"></i>
                            </a>
                        </li>
                    </ul>


                </div>


            </div>
            <div class="col-sm-12 col-lg-3 child" style="background-image:url(https://dndays.blob.core.windows.net/img/81/florin-olariu.png)">

                <div class="details">
                    <a class="link" href="/speakers/florin-olariu">
                        <span class="name">Florin Olariu</span>
                        <span class="position">Development Coordinator/Architect</span>
                        <span class="position">Centric</span>

                    </a>
                    <ul class="speaker-socials">

                        <li>
                            <a target="_blank" class="link d-inline" href="https://www.linkedin.com/in/florin-olariu-38615126/">
                                <i class="fab fa-linkedin"></i>
                            </a>
                        </li>
                    </ul>


                </div>


            </div>
            <div class="col-sm-12 col-lg-3 child" style="background-image:url(https://dndays.blob.core.windows.net/img/82/sorin-damian.png)">

                <div class="details">
                    <a class="link" href="/speakers/sorin-damian">
                        <span class="name">Sorin Damian</span>
                        <span class="position">Software Engineer</span>
                        <span class="position">MaxCode</span>

                    </a>
                    <ul class="speaker-socials">

                        <li>
                            <a target="_blank" class="link d-inline" href="https://www.linkedin.com/in/sorind/">
                                <i class="fab fa-linkedin"></i>
                            </a>
                        </li>
                    </ul>


                </div>


            </div>
            <div class="col-sm-12 col-lg-3 child" style="background-image:url(https://dndays.blob.core.windows.net/img/83/octav-zaharia.png)">

                <div class="details">
                    <a class="link" href="/speakers/octav-zaharia">
                        <span class="name">Octav Zaharia</span>
                        <span class="position">Senior Scala Developer</span>
                        <span class="position">Levi9</span>

                    </a>
                    <ul class="speaker-socials">

                        <li>
                            <a target="_blank" class="link d-inline" href="https://www.linkedin.com/in/octav-zaharia-66210928/">
                                <i class="fab fa-linkedin"></i>
                            </a>
                        </li>
                    </ul>


                </div>


            </div>
            <div class="col-sm-12 col-lg-3 child" style="background-image:url(https://dndays.blob.core.windows.net/img/84/Mihaela_Ghidersa@2x.png)">

                <div class="details">
                    <a class="link" href="/speakers/mihaela-ghidersa">
                        <span class="name">Mihaela Ghidersa</span>
                        <span class="position">Software Developer</span>
                        <span class="position">Centric</span>

                    </a>
                    <ul class="speaker-socials">

                        <li>
                            <a target="_blank" class="link d-inline" href="https://www.linkedin.com/in/ghidersam/">
                                <i class="fab fa-linkedin"></i>
                            </a>
                        </li>
                    </ul>


                </div>


            </div>
            <div class="col-sm-12 col-lg-3 child" style="background-image:url(https://dndays.blob.core.windows.net/img/85/unnamed@2x.png)">

                <div class="details">
                    <a class="link" href="/speakers/andrei-mustata">
                        <span class="name">Andrei Mustata</span>
                        <span class="position">Software Developer</span>
                        <span class="position">Levi 9</span>

                    </a>
                    <ul class="speaker-socials">
                        <li>
                            <a target="_blank" class="link d-inline" href="https://twitter.com/andreimoustache">
                                <i class="fab fa-twitter"></i>
                            </a>
                        </li>

                        <li>
                            <a target="_blank" class="link d-inline" href="https://www.linkedin.com/in/andreimustata/">
                                <i class="fab fa-linkedin"></i>
                            </a>
                        </li>
                    </ul>


                </div>


            </div>
            <div class="col-sm-12 col-lg-3 child" style="background-image:url(https://dndays.blob.core.windows.net/img/86/andrei-scutariu.png)">

                <div class="details">
                    <a class="link" href="/speakers/andrei-scutariu">
                        <span class="name">Andrei Scutariu</span>
                        <span class="position">Senior Developer</span>
                        <span class="position">Endava</span>

                    </a>
                    <ul class="speaker-socials">

                        <li>
                            <a target="_blank" class="link d-inline" href="https://www.linkedin.com/in/andrei-scutariu-57478485/">
                                <i class="fab fa-linkedin"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

</div>

<div class="">
    <div class="container">
        <div class="row parent">
            @foreach (var item in Model)
            {

                <div class="col-sm-12 col-lg-3 child" style="background-image:url(https://vignette.wikia.nocookie.net/heroes-and-villians/images/4/48/584c695d6e7d5809d2fa6362.png/revision/latest?cb=20180811224413)">

                    <div class="details">
                        <a class="link" asp-controller="Speakers" asp-action="Details" asp-route-id="@item.Id">
                            <span class="name">@item.FullName</span>
                            <span class="position">@item.Position</span>
                            <span class="position">@item.CompanyName</span>
                        </a>

                        <ul class="speaker-socials">
                            <li>
                                <a target="_blank" class="link d-inline" href=@item.Twitter>
                                    <i class="fab fa-twitter"></i>
                                </a>
                            </li>

                            <li>
                                <a target="_blank" class="link d-inline" href=@item.LinkedIn>
                                    <i class="fab fa-linkedin"></i>
                                </a>
                            </li>
                        </ul>

                    </div>
                </div>
            }
        </div>
    </div>
</div>