
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 style="position:center">Table of Contents</h1>

<section>
    <div class="">
        <div class="container" style="background-color:lightgoldenrodyellow">

            <div class="row align-items-start">
                <div class="col">
                    <ul> <i class="fas fa-cat"></i>
                        <li> <a href="http://localhost:26590/Admin/Editions"> List of Editions </a> </li>
                        <li> <a href="http://localhost:26590/Admin/Editions/Create"> Create Edition </a> </li>                                        
                        
                    </ul>

                </div>
                <div class="col">
                    <ul> <i class="	fas fa-dog"></i>
                        <li> <a href="http://localhost:26590/Admin/Speakers"> List of Speakers </a> </li>
                        <li> <a href="http://localhost:26590/Admin/Speakers/Create"> Create Speaker </a> </li>                                       
                        
                    </ul>
                </div>
                <div class="col">
                    <ul> <i class="fas fa-dragon"></i>
                        <li> <a href="http://localhost:26590/Admin/Sponsors"> List of Sponsors </a> </li>
                        <li> <a href="http://localhost:26590/Admin/Sponsors/Create"> Create Sponsors </a> </li>                                           
                       
                    </ul>
                </div>

            </div>


        </div>

        <div class="container" style="background-color:lightgoldenrodyellow">
            <div class="row align-items-end">
                <div class="col">
                    <ul> <i class="fas fa-spider"></i>
                        <li> <a href="http://localhost:26590/Admin/SponsorTypes"> List of Sponsor Types </a> </li>
                        <li> <a href="http://localhost:26590/Admin/SponsorTypes/Create"> Create Sponsors Type </a> </li>                        
                        
                    </ul>
                </div>
                <div class="col">
                    <ul> <i class="fas fa-horse"></i>
                        <li> <a href="http://localhost:26590/Admin/Talks"> List of Talks </a> </li>
                        <li> <a href="http://localhost:26590/Admin/Talks/Create"> Create Talk </a> </li>                       
                        
                    </ul>

                </div>
                <div class="col">
                    <ul> <i class="fas fa-dove"></i>
                        <li> <a href="http://localhost:26590/Admin/Workshops"> List of Workshops </a> </li>
                        <li> <a href="http://localhost:26590/Admin/Workshops/Create"> Create Workshops </a> </li>                      
                       
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>