
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Table of Contents</h1>

<div class="container">
    
    <div class="row align-items-start">
        <div class="col">
            <ul>
                <li> <a href="http://localhost:26590/Admin/Editions"> List of Editions </a> </li>
                <li> <a href="http://localhost:26590/Admin/Editions/Create"> Create Edition </a> </li>
                <li> <a href="http://localhost:26590/Admin/Editions/Edit"> Update Edition </a> </li>
                <li> <a href="http://localhost:26590/Admin/Editions/Details/1"> Edition Details </a> </li>
                <li> <a href="http://localhost:26590/Admin/Editions/Delete"> Delete Edition </a> </li>
            </ul>

        </div>
        <div class="col">
            <ul>
                <li> <a href="http://localhost:26590/Admin/Speakers"> List of Speakers </a> </li>
                <li> <a href="http://localhost:26590/Admin/Speakers/Create"> Create Speaker </a> </li>
                <li> <a href="http://localhost:26590/Admin/Speakers/Edit"> Update Speaker </a> </li>
                <li> <a href="http://localhost:26590/Admin/Speakers/Details/1"> Speaker Details </a> </li>
                <li> <a href="http://localhost:26590/Admin/Speakers/Delete"> Delete Speaker </a> </li>
            </ul>
        </div>
        <div class="col">
            <ul>
                <li> <a href="http://localhost:26590/Admin/Sponsors"> List of Sponsors </a> </li>
                <li> <a href="http://localhost:26590/Admin/Sponsors/Create"> Create Sponsors </a> </li>
                <li> <a href="http://localhost:26590/Admin/Sponsors/Edit"> Update Sponsor </a> </li>
                <li> <a href="http://localhost:26590/Admin/Sponsors/Details/1"> Sponsor Details </a> </li>
                <li> <a href="http://localhost:26590/Admin/Sponsors/Delete"> Delete Sponsor </a> </li>
            </ul>
        </div>

    </div>


</div>

<div class="container">
    <div class="row align-items-end">
        <div class="col">
            <ul>
                <li> <a href="http://localhost:26590/Admin/SponsorTypes"> List of Sponsor Types </a> </li>
                <li> <a href="http://localhost:26590/Admin/SponsorTypes/Create"> Create Sponsors Type </a> </li>
                <li> <a href="http://localhost:26590/Admin/SponsorTypes/Edit"> Update Sponsor Types</a> </li>
                <li> <a href="http://localhost:26590/Admin/SponsorTypes/Details/1"> Sponsor Type Details </a> </li>
                <li> <a href="http://localhost:26590/Admin/SponsorTypes/Delete"> Delete Sponsor Type </a> </li>
            </ul>
        </div>
        <div class="col">
            <ul>
                <li> <a href="http://localhost:26590/Admin/Talks"> List of Talks </a> </li>
                <li> <a href="http://localhost:26590/Admin/Talks/Create"> Create Talk </a> </li>
                <li> <a href="http://localhost:26590/Admin/Talks/Edit"> Update Talk</a> </li>
                <li> <a href="http://localhost:26590/Admin/Talks/Details/1"> Talk Details </a> </li>
                <li> <a href="http://localhost:26590/Admin/Talks/Delete"> Delete Talks </a> </li>
            </ul>

        </div>
        <div class="col">
            <ul>
                <li> <a href="http://localhost:26590/Admin/Workshops"> List of Workshops </a> </li>
                <li> <a href="http://localhost:26590/Admin/Workshops/Create"> Create Workshops </a> </li>
                <li> <a href="http://localhost:26590/Admin/Workshops/Edit"> Update Workshops</a> </li>
                <li> <a href="http://localhost:26590/Admin/Workshops/Details/1"> Workshops Details </a> </li>
                <li> <a href="http://localhost:26590/Admin/Workshops/Delete"> Delete Workshops </a> </li>
            </ul>
        </div>
    </div>
</div>